.catalogue__container {
  padding-top: 30px;
  margin-left: 20px;
  align-items: center;
  width: 70%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.catalogue {
  display: flex;
}
.pages {
  align-items: center;
  justify-content: space-around;
  display: flex;

  width: 100px;
  margin: 0 80vw;
}
.fa-chevron-left {
  margin: 0;
}
