.anotation {
  max-width: 1400px;
  height: 1100px;
  border-radius: 0 10px 10px 10px;
  background-color: white;
}

.product__anotation {
  margin-top: 120px;
  margin-left: 100px;
}

.anotation__title {
  display: flex;
}
.anotation__title__item {
  text-align: center;
  padding-top: 15px;
  width: 192px;
  font-size: 20px;
  height: 30px;
  background-color: grey;
  color: whitesmoke;
  border-radius: 10px 10px 0 0;
  margin-right: 50px;
  cursor: pointer;
}
.active {
  color: #ea3339;
  background-color: white;
}
.anotation {
  color: #6a6a68;
  font-size: 20px;
  padding: 50px;
}
.anotation * {
  margin-bottom: 30px;
}
.composition {
  display: none;
}
