.catalogue__item {
  width: 280px;
  height: 300px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #0000000d;
  background-color: white;
}
.catalogue {
}
.catalogue__item__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.catalogue__item__img {
  height: 150px;
}
.catalogue__container {
  background-color: aquamarine;
  position: relative;
}
.catalogue__item__button {
  width: 100px;
  height: 25px;
  padding-bottom: 10px;
  background: #ea333903 0% 0% no-repeat padding-box;
  border: 1px solid #e93338;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.slider__button:hover {
  background: #ea3339 0% 0% no-repeat padding-box;
  color: whitesmoke;
}
.catalogue__item__footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .catalogue__item {
    width: 360px;
    height: 380px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1180px) {
  .catalogue__item {
    width: 320px;
    height: 300px;
  }
}
@media screen and (max-width: 1090px) {
  .catalogue__item {
    width: 300px;
    height: 280px;
  }
  .catalogue__item__img {
    width: 200px;
  }
}
