header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 100px;
  background-color: white;
}

.search {
  background: #f4f2f0 0% 0% no-repeat padding-box;
  border: 2px solid #5f504f14;
  border-radius: 15px;
  width: 700px;
  height: 40px;
  font-size: 18px;
  outline: none;
  padding-left: 20px;
}
.header__icons {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.header__icons * {
  /* margin-right: 20px; */
  color: var(--main-red);
  font-size: 25px;
}
.logo {
  margin-top: 10px;
  margin-right: 20px;
}
.fas {
  font-size: 25px !important;
}
.far {
}
.far,
.fas {
  margin-right: 20px;
}
.fa-sign-out-alt {
  font-size: 30px !important;
}
.fa-user {
  padding-left: 0px;
}

.found__product__img {
  width: 150px;
}

.search__container {
  position: relative;
}
.found__product__info {
  background-color: rgb(231, 222, 222);
  padding: 20px;

  position: absolute;
  width: 730px;
  z-index: 1;
}
.found__product__info:hover {
  cursor: pointer;
  background-color: rgb(184, 178, 178);
  opacity: 1;
}
.found__product__name {
  font-size: 18px;
  font-weight: 600;
}
.fa-user {
  position: relative;
}
.user__pupup {
  text-align: center;
  position: absolute;
  display: none;
  top: -25px;
  right: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  width: 160px;
  font-size: 15px;
}
.basket__popup {
  text-align: center;
  position: absolute;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
  top: -25px;
  right: 0;
  display: none;
}
.fa-cart-plus {
  position: relative;
}
.fa-user:hover > .user__pupup {
  display: inline-block;
}
.fa-cart-plus:hover > .basket__popup {
  display: inline-block !important;
}

@media screen and (max-width: 1400px) {
  header {
    padding: 20px 25px;
  }
}
@media screen and (max-width: 1230px) {
  .search {
    width: 400px;
  }
}
