header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 100px;
  background-color: white;
}

.search {
  background: #f4f2f0 0% 0% no-repeat padding-box;
  border: 2px solid #5f504f14;
  border-radius: 15px;
  width: 700px;
  max-width: 900px;
  height: 40px;
  font-size: 18px;
  outline: none;
  padding-left: 20px;
}
.header__icons {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.header__icons * {
  /* margin-right: 20px; */
  color: var(--main-red);
  font-size: 25px;
}
.logo {
  margin-top: 10px;
  margin-right: 20px;
}
.fas {
  font-size: 25px !important;
}
.far {
}
.far,
.fas {
  margin-right: 20px;
}
.fa-sign-out-alt {
  font-size: 30px !important;
}
.fa-user {
  padding-left: 0px;
}
@media screen and (max-width: 1400px) {
  header {
    padding: 20px 25px;
  }
}
