.help {
  display: flex;
  font-size: 18px;
  width: 1000px;
  margin: 100px auto;
  color: #7d8078;
  justify-content: space-between;
}
.help__left {
  display: flex;
}

.help li {
  margin-bottom: 5px;
}
.help__left p {
  margin-right: 10px;
}
